.container {
  padding: 0 2rem;
}

.main {
  display: block;
  justify-content: center;
  align-items: center;
}

.message {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  text-align: center;
}

.projects {
  text-align: center;
  margin-top: 10rem;
}

.hobbies {
  text-align: center;
  margin-top: 10rem;
}

@media screen and (max-width: 480px) {
}
